# Server Configuration
PORT=5005
NODE_ENV=development

# MongoDB Atlas Connection URI
MONGODB_URI=your-mongodb-connection-string

# Nodemailer Email Configuration
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-16-character-app-password
EMAIL_FROM_NAME="IdeaJam 2026 Team"
EMAIL_FROM_ADDRESS=noreply@ideajam2026.com

# Client Frontend URL
CLIENT_URL=http://localhost:5173/
